<div class="mt-3">
  <h5>Configuración</h5>
  <div class="row">
    <div class="col-md-6">
      <label>RUC</label>
      <input class="form-control mb-2" placeholder="RUC">
      <label>Nombre</label>
      <input class="form-control mb-2" placeholder="Nombre">
      <label>Teléfono</label>
      <input class="form-control mb-2" placeholder="Teléfono">
    </div>
    <div class="col-md-6">
      <label>Dirección</label>
      <input class="form-control mb-2" placeholder="Dirección">
      <label>Razón Social</label>
      <input class="form-control mb-2" placeholder="Razón Social">
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-primary">Actualizar</button>
  </div>
</div>
