<div class="mt-3">
  <h5>Nueva Venta</h5>
  <div class="row mb-3">
    <div class="col"><input class="form-control" placeholder="Código"></div>
    <div class="col"><input class="form-control" placeholder="Descripción"></div>
    <div class="col"><input class="form-control" placeholder="Cantidad"></div>
    <div class="col"><input class="form-control" placeholder="Precio" readonly></div>
    <div class="col"><input class="form-control" placeholder="Stock Disponible" readonly></div>
    <div class="col-auto"><button class="btn btn-danger btn-sm">🗑️</button></div>
  </div>
  <table class="table table-bordered">
    <thead class="table-light"><tr><th>CÓDIGO</th><th>DESCRIPCIÓN</th><th>CANTIDAD</th><th>PRECIO</th><th>TOTAL</th></tr></thead>
    <tbody></tbody>
  </table>
  <div class="row">
    <div class="col-md-4">
      <input class="form-control mb-2" placeholder="DNI/RUC">
      <input class="form-control mb-2" placeholder="NOMBRE" readonly>
      <input class="form-control mb-2" placeholder="TELÉFONO" readonly>
      <input class="form-control mb-2" placeholder="DIRECCIÓN" readonly>
      <input class="form-control mb-2" placeholder="RAZÓN" readonly>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary">Generar Venta</button>
    </div>
    <div class="col-md-4 text-end">
      <h4>Total: $ 0.00</h4>
    </div>
  </div>
</div>
